/*
Icon classes can be used entirely standalone. They are named after their original file names.

```html
<!-- `display: block` sprite -->
<div class="icon-home"></div>

<!-- `display: inline-block` sprite -->
<img class="icon-home" />
```
*/
.icon-accelerating-medallion-status {
  background-image: url(good-for-sprite.png);
  background-position: 0px -253px;
  width: 120px;
  height: 120px;
}
.icon-accelerating-spg-gold-status {
  background-image: url(good-for-sprite.png);
  background-position: -479px -120px;
  width: 120px;
  height: 120px;
}
.icon-added-financial-control {
  background-image: url(good-for-sprite.png);
  background-position: 0px 0px;
  width: 120px;
  height: 130px;
}
.icon-advertising {
  background-image: url(good-for-sprite.png);
  background-position: -599px -357px;
  width: 118px;
  height: 121px;
}
.icon-airport-lounge-acess {
  background-image: url(good-for-sprite.png);
  background-position: -240px -253px;
  width: 120px;
  height: 120px;
}
.icon-building-constructions {
  background-image: url(good-for-sprite.png);
  background-position: -719px 0px;
  width: 118px;
  height: 120px;
}
.icon-business-tools {
  background-image: url(good-for-sprite.png);
  background-position: -240px 0px;
  width: 119px;
  height: 123px;
}
.icon-choosing-your-billing-cycle {
  background-image: url(good-for-sprite.png);
  background-position: -120px 0px;
  width: 120px;
  height: 127px;
}
.icon-concierge-services {
  background-image: url(good-for-sprite.png);
  background-position: -480px -373px;
  width: 119px;
  height: 119px;
}
.icon-customizing-your-rewards {
  background-image: url(good-for-sprite.png);
  background-position: 0px -373px;
  width: 120px;
  height: 120px;
}
.icon-delta-sky-club-lounge-access {
  background-image: url(good-for-sprite.png);
  background-position: -359px 0px;
  width: 120px;
  height: 121px;
}
.icon-e-commerse-business {
  background-image: url(good-for-sprite.png);
  background-position: -599px -119px;
  width: 120px;
  height: 119px;
}
.icon-earning-cash-back {
  background-image: url(good-for-sprite.png);
  background-position: -120px -253px;
  width: 120px;
  height: 120px;
}
.icon-free-flights-with-spg-flights {
  background-image: url(good-for-sprite.png);
  background-position: -359px -121px;
  width: 120px;
  height: 121px;
}
.icon-free-nights {
  background-image: url(good-for-sprite.png);
  background-position: -480px -493px;
  width: 119px;
  height: 118px;
}
.icon-frequent-driver {
  background-image: url(good-for-sprite.png);
  background-position: 0px -493px;
  width: 120px;
  height: 118px;
}
.icon-frequent-travellers-bgr {
  background-image: url(good-for-sprite.png);
  background-position: -360px -493px;
  width: 120px;
  height: 118px;
}
.icon-frequent-travellers {
  background-image: url(good-for-sprite.png);
  background-position: -240px -373px;
  width: 120px;
  height: 119px;
}
.icon-home-improvements-contractors {
  background-image: url(good-for-sprite.png);
  background-position: 0px -611px;
  width: 120px;
  height: 117px;
}
.icon-hotels {
  background-image: url(good-for-sprite.png);
  background-position: 0px -130px;
  width: 119px;
  height: 123px;
}
.icon-in-flight-discount {
  background-image: url(good-for-sprite.png);
  background-position: -119px -130px;
  width: 120px;
  height: 121px;
}
.icon-kitchen-benefits {
  background-image: url(good-for-sprite.png);
  background-position: -599px -238px;
  width: 120px;
  height: 119px;
}
.icon-no-fee-for-additional-cards-for-employee {
  background-image: url(good-for-sprite.png);
  background-position: -240px -493px;
  width: 120px;
  height: 118px;
}
.icon-payment-flexibility {
  background-image: url(good-for-sprite.png);
  background-position: -360px -373px;
  width: 120px;
  height: 119px;
}
.icon-point-on-business-expenses {
  background-image: url(good-for-sprite.png);
  background-position: -599px -493px;
  width: 119px;
  height: 118px;
}
.icon-priority-boarding-on-delta-flights {
  background-image: url(good-for-sprite.png);
  background-position: -719px -120px;
  width: 117px;
  height: 121px;
}
.icon-properties-management-companies {
  background-image: url(good-for-sprite.png);
  background-position: -120px -493px;
  width: 120px;
  height: 118px;
}
.icon-purchasing-office-supply {
  background-image: url(good-for-sprite.png);
  background-position: -360px -253px;
  width: 119px;
  height: 120px;
}
.icon-purchasing-power-green-card {
  background-image: url(good-for-sprite.png);
  background-position: -479px 0px;
  width: 120px;
  height: 120px;
}
.icon-seasonal-business {
  background-image: url(good-for-sprite.png);
  background-position: -599px 0px;
  width: 120px;
  height: 119px;
}
.icon-tranport-companies {
  background-image: url(good-for-sprite.png);
  background-position: -479px -240px;
  width: 120px;
  height: 120px;
}
.icon-two-membership-in-one {
  background-image: url(good-for-sprite.png);
  background-position: -239px -130px;
  width: 120px;
  height: 121px;
}
.icon-wireless-phone-subscriber {
  background-image: url(good-for-sprite.png);
  background-position: -120px -373px;
  width: 120px;
  height: 119px;
}
